*{
    box-sizing: border-box;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.829);
    color: rgba(255, 255, 255, 0.719);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card{
    background-color: rgba(0, 0, 0, 0.226);
    margin: 30px 0px 30px 0px;
    
}
.header{
    padding: 60px 0px 0px 0px;
}
.header > img {
    width: 200px;
    border-radius: 100%;
}
/* .links{
    
} */
.links > h3{
    margin: 30px;
}
.links > h3 > a{
    color: rgba(255, 255, 255, 0.719);
    text-decoration: none;
    cursor: pointer;
}
.links > h3 > a:hover{
    color: #fff;
}
.footer{
    background-color: ;
    padding: 40px 70px 60px 70px;
}
